body {
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(25, 25, 25);
  padding: 15px;
  width: 30%;
  height: 80%;
  margin: 20px auto;
  border-radius: 30px;
  align-items: center;
}

h1 {
  margin-top: 0;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] ,
input[type="url"] 
{
  padding: 10px;
  width: 90%;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

button {
  background-color: #dd00ff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 800;
}
